body {
    background-color: rgb(231, 236, 240);
    color: rgb(34, 57, 57);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



footer {
    background-color: rgb(34, 57, 57);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p {
    font-size: 1.2em;
    margin: 20px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
    font-size: 1.2em;
}

.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

}

.content {
    flex: 1;
    padding-right: 20px;
    font-size: 18px;

}

.image {
    flex-shrink: 0;
}

.image img {
    max-width: 450px;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }
}
